@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #faf9f9;
  color: rgba(8, 15, 39, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 64px;
  background: rgba(0, 0, 17, 1);
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: rgba(0, 0, 17, 1);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: start;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 407px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 24px 42px;

  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: rgba(0, 0, 17, 1);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Segoe UI;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
.navigation__link:hover,
.navigation__link:focus {
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 90px;
    padding: 10px 20px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 67px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    text-decoration: none;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 1004px;

  padding: 112px 24px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/home/Frame\ 11.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title {
  font-family: Playfair Display;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  color: #fff;
}

.home-text {
  font-family: Segoe UI;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
  padding: 24px 0 40px;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 915px;

    padding: 144px 0px 0px;
    background-image: url("/image/home/Frame\ 12.png");
  }
  .home__container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home-title {
    font-family: Playfair Display;
    font-size: 96px;
    font-weight: 700;
    line-height: 96px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .home-text {
    font-family: Segoe UI;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    width: 548px;
    padding: 24px 0 40px;
  }
}

.about {
  padding: 80px 24px 40px;
  margin: auto;
  width: 375px;
}

.about-title {
  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}

.about-text {
  font-family: Segoe UI;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(70, 78, 98, 1);
  padding: 40px 0px 0;
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 128px 0px 40px;
    margin: auto;
    width: 1440px;
  }

  .about-title {
    font-family: Playfair Display;
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .about-text {
    font-family: Segoe UI;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 40px 0 0;
    width: 548px;
    margin: auto;
  }
}
.how {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
}

.how-list {
  padding-top: 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.how-item {
  width: 327px;
  height: auto;
  padding: 24px;
  border-radius: 24px;
  background: rgba(255, 255, 255, 1);
  border: 2px solid rgba(239, 241, 247, 1);
}
.how-img {
  margin: auto;
}
.how-text-bold {
  margin: 24px 0 16px;
  font-family: Segoe UI;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(0, 0, 0, 1);

  height: 64px;
}
.how-text {
  font-family: Segoe UI;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(70, 78, 98, 1);
}

@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;

    margin: auto;
    padding: 40px 160px;
  }

  .how-list {
    padding-top: 40px;
    padding-bottom: 40px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
  }
  .how-item {
    width: 357px;
    height: 349px;
    padding: 24px;
    border-radius: 24px;
    background: rgba(255, 255, 255, 1);
    border: 2px solid rgba(239, 241, 247, 1);
  }
  .how-img {
    margin: auto;
  }
}

.reviews {
  width: 375px;

  margin: auto;
  padding: 40px 16px;
}

.reviews-list {
  padding-top: 40px;
  padding-bottom: 24px;
}
.reviews-item {
  margin: 0 5px;
  width: 357px;
  height: 357pxx;
  padding: 24px;
  border-radius: 24px;
  background: rgba(255, 255, 255, 1);
  border: 2px solid rgba(239, 241, 247, 1);
}
.reviews-item-top {
  margin-top: 24px;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
}
.reviews-text-bold {
  font-family: Segoe UI;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.reviews-text-bold-two {
  font-family: Segoe UI;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(70, 78, 98, 1);
}
.reviews-text-name {
  font-family: Segoe UI;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 1);
  width: 48px;
  height: 48px;
  padding: 14px 0px;

  border-radius: 24px;

  background: rgba(8, 15, 39, 1);
}
.reviews-text {
  font-family: Segoe UI;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(70, 78, 98, 1);

  margin: 16px 0 60px;
}
.gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.gallery-button:hover {
  scale: 120%;
}
@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;

    margin: auto;
    padding: 40px 160px;
  }
  .reviews-list {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}

.faq {
  padding: 40px 24px 80px;
  margin: auto;
  width: 375px;
}
.faq-container {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: auto;
}

.faq-question {
  font-family: Segoe UI;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.faq-question::before {
  content: "•";
  margin-right: 5px;
  color: rgba(8, 15, 39, 1);
}
.faq-answer {
  margin-left: 14px;
  padding-top: 8px;
  font-family: Segoe UI;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(70, 78, 98, 1);
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 40px 351px 80px;
    margin: auto;
    width: 1440px;
  }
  .faq-container {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: auto;
  }

  .faq-question {
    font-family: Segoe UI;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .faq-answer {
    font-family: Segoe UI;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

.features {
  width: 375px;

  margin: auto;
  padding: 40px 24px;
}

.features-list {
  padding-top: 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;

    margin: auto;
    padding: 40px 160px;
  }

  .features-list {
    padding-top: 40px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
}
.footer {
  background: rgba(8, 15, 39, 1);

  color: #ffffff;
  padding: 40px 24px 24px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.footer-title {
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}
.footer-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 10px;
}
.footer-text {
  font-family: Segoe UI;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-decoration: none;
  color: #ffffff;
}

.footer-copyright {
  font-family: Segoe UI;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 50px 160px 24px;
  }
  .footer-container {
    gap: 40px;
  }
  .footer-title {
    font-family: Playfair Display;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .footer-wrapper {
  }
  .footer-text {
    font-family: Segoe UI;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .footer-copyright {
    font-family: Segoe UI;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.policy-terms-container {
  flex-direction: column;
  align-items: start;
  padding: 124px 16px 116px;
}
.policy-terms-title {
  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-transform: uppercase;
}

.policy-terms-text {
  font-family: Segoe UI;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Segoe UI;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(70, 78, 98, 1);
  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Segoe UI;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(70, 78, 98, 1);
  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Segoe UI;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(70, 78, 98, 1);

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;
  font-family: Segoe UI;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(70, 78, 98, 1);
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: rgba(0, 61, 213, 1);
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 186px 80px 116px;
    align-items: start;
  }
  .policy-terms-title {
    font-family: Playfair Display;
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .policy-terms-text {
    font-family: Segoe UI;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 40px;
  }
  .policy-terms-texts {
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .policy-terms-text-one {
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 30px;
  }

  .terms-list {
    list-style-type: disc;

    padding: 20px 0 20px 25px;
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    display: flex;
    flex-direction: column;
  }

  .terms-lists {
    list-style-type: disc;

    font-family: Segoe UI;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
